<div class="container">
  <h2>Neue Weine hinzufügen</h2>

  <form>
    <div class="form-row">
      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Produktnummer</mat-label>
        <input matInput placeholder="Produktnummer" name="Produktnummer" [(ngModel)]="newWine.Produktnummer">
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Bezeichnung</mat-label>
        <input matInput placeholder="Bezeichnung" name="Bezeichnung" [(ngModel)]="newWine.Bezeichnung">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Jahrgang</mat-label>
        <input matInput placeholder="Jahrgang" name="Jahrgang" [(ngModel)]="newWine.Jahrgang">
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Region</mat-label>
        <input matInput placeholder="Region" name="Region" [(ngModel)]="newWine.Region">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Land</mat-label>
        <input matInput placeholder="Land" name="Land" [(ngModel)]="newWine.Land">
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Bestand</mat-label>
        <input matInput type="number" placeholder="Bestand" name="Bestand" [(ngModel)]="newWine.Bestand">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Lagerort</mat-label>
        <input matInput placeholder="Lagerort" name="Lagerort" [(ngModel)]="newWine.Lagerort">
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Verkaufspreis</mat-label>
        <input matInput placeholder="Verkaufspreis" name="Verkaufspreis" [(ngModel)]="newWine.Verkaufspreis">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Einkaufspreis</mat-label>
        <input matInput placeholder="Einkaufspreis" name="Einkaufspreis" [(ngModel)]="newWine.Einkaufspreis">
      </mat-form-field>
    </div>

    
  </form>
  <div class="row">
    <button mat-raised-button class="primary" (click)="addNewWine()">Hinzufügendasd</button>
    <button mat-raised-button color="primary" class="col-12">
      <mat-icon>cloud_upload</mat-icon>
      Upload from CSV
    </button>
  </div>
  
</div>
