<form #loginForm="ngForm" (ngSubmit)="submitForm()">
  <h1>Anmeldung</h1>
  <mat-form-field appearance="fill" class="input-field">
    <mat-label>Benutzername</mat-label>
    <input
      matInput
      placeholder="Benutzername"
      name="username"
      ngModel
      required
    />
    <mat-error
      *ngIf="
        loginForm.controls['username'].invalid &&
        (loginForm.controls['username'].dirty ||
          loginForm.controls['username'].touched)
      "
    >
      Benutzername ist erforderlich
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="input-field">
    <mat-label>Passwort</mat-label>
    <input
      matInput
      type="password"
      placeholder="Passwort"
      name="password"
      ngModel
      required
    />
    <mat-error
      *ngIf="
        loginForm.controls['password'].invalid &&
        (loginForm.controls['password'].dirty ||
          loginForm.controls['password'].touched)
      "
    >
      Passwort ist erforderlich
    </mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    disabled
    type="submit"
    [disabled]="!loginForm.valid"
  >
    Login
  </button>
  <!-- <div class="createAccount">
    <p>No account yet? <a href="/sign_up">Create one</a></p>
  </div> -->
</form>
