<link
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
  rel="stylesheet"
/>

<div class="container">
    <button mat-raised-button class="square-button">Lager</button>
    <button mat-raised-button class="square-button">
      <div
        style="
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
        "
      >
        <i class="bi bi-person-fill" style="font-size: 100px"></i>
        <div class="text">
          <span>Vertrieb</span>
        </div>
      </div>
    </button>
  </div>
  